<link href="../../../../plugin_assets/murmur_chat/stylesheets/murmur-chat.css" media="screen" rel="stylesheet" type="text/css"/>
<link type="text/css" href="../../../../plugin_assets/murmur_chat/stylesheets/ui-lightness/jquery-ui-1.8.14.custom.css" rel="Stylesheet"/>

<div id="murmur-template" class="hidden">
  <img id="user-image" src="../../../../plugin_assets/murmur_chat/images/default_user_avatar.png">

  <div id="message" class="message"></div>
  <div class="user-name">
    <span id="user-name"></span> <span id="create-at" class="create-at"></span> <span id='from-card'></span>
  </div>
</div>

<div id="clear"></div>

<h2>Murmur Chat for <%= @project.identifier %></h2>

<div id="murmur-chat" class="murmur-chat resizable">
  <div class="new-murmur">
    <label for="new-murmur"></label>
    <textarea rows="3" cols="1" id="new-murmur"></textarea>
  </div>

  <div class="murmur-filter ui-widget">
    <label for="murmur-filter">Filter: </label> <input id="murmur-filter">
  </div>

  <div id='murmur-messages' class="murmur-feed"></div>
  <br/>
</div>

<div id="debug-info"></div>
<div id="project" class="hidden"><%= @project.identifier %></div>
<div id="debug" class="hidden"><%= debug_parameter %></div>
<div id="update_interval" class="hidden"><%= update_interval_parameter %></div>
<div id="mingle_url" class="hidden"><%= mingle_url_parameter %></div>
<span id='card-link-template' class="hidden"><a target='_blank' href="<%= mingle_url_parameter %>/projects/<%= @project.identifier %>/cards/$2">$1$2</a></span>
<span id='related-link-template' class="hidden"><a target='_blank' href="<%= mingle_url_parameter %>/projects/<%= @project.identifier %>/cards/$1">$1</a></span>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery.noConflict();
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript" src="../../../../plugin_assets/murmur_chat/javascripts/murmur-chat.js"></script>
<script language="javascript" type="text/javascript" src="../../../../plugin_assets/murmur_chat/javascripts/debug.js"></script>
<script type="text/javascript">
    murmurChat.macroDebugInit(jQuery('#debug').text(), jQuery("#debug-info"));
    MingleJavascript.register(function () {
        try {
            murmurChat.log("starting murmur chat");
            murmurChat.init(jQuery, jQuery('#project').text(),
                    parseInt(jQuery('#update_interval').text(), 10),
                    jQuery("#mingle_url").text()
            );
        } catch(err) {
            murmurChat.log(err);
        }
    });
</script>